/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .3s;
}

.fade-transform-enter, .fade-transform-leave-to {
  opacity: 0;
}

// .fade-transform-leave-to {
//   opacity: 0;
// }

/*slide-transform*/
.slide-transform-leave-active,
.slide-transform-enter-active {
  transition: all .25s;
}

.slide-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}